#footer {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  color: #FFF;
  border: none;
}

#footer .region {
  overflow: hidden;
  margin: 0;
}

#footer-wrapper {
  background: none;
  padding: 0;
  margin: 0;
}

#footer-wrapper div.section {
  margin: 0 auto;
  background: #0c2e43;
  position: relative;
  padding-bottom: 20px;
}

#footer-wrapper div.section div.content,
#footer-wrapper div.section div.content p {
  padding:0;
  margin: 0;
}

#footer-wrapper div.section div.content p {
  padding: 10px;
}

#footer-wrapper div.section .block {
  margin: 0;
  padding: 0;
}

#footer #block-menu-block-1 a {
  text-decoration: underline;
}

#footer #block-menu-block-1 a:hover {
  text-decoration: none;
}

#footer div.menu-name-menu-footer ul {
  padding: 5px;
}

#footer div.menu-name-menu-footer ul li {
  clear: both;
}

#footer div.menu-name-menu-footer ul li a {
  padding: 0;
  border: none;
}

/* STICKY FOOTER */
#page-wrapper {
  min-height: 100%;
}

#page-wrapper #page {
  padding-bottom: 126px;
}

#footer-wrapper {
  position: relative;
  margin-top: -126px; /* negative value of footer height */
  height: 126px;
  clear:both;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

/* SHARED TABLET & SCREEN*/
@media all and (min-width: 560px) {
  /* Footer Copyright */
  #footer #block-block-1 {
    width: 25%;
    float: left;
    clear: none;
    padding-top: 45px;
  }

  #footer #block-menu-block-1 {
    width: 75%;
    float: left;
    clear: none;
    padding-top: 45px;
  }

  #footer-wrapper div.section div.content p {
    padding: 0 0 0 80px;
    margin: 0;
  }

  #footer div.menu-name-menu-footer ul {
    display: inline-block;
    padding: 0;
  }

  #footer div.menu-name-menu-footer ul li {
    display: inline-block;
  }

  #footer div.menu-name-menu-footer {
    text-align: center;
    margin: 0 30% 0 0;
  }

  #footer-wrapper div.section div.content,
  #footer-wrapper div.section div.content ul {
    padding:0;
    margin: 0;
  }

  #footer div.menu-name-menu-footer ul {
    padding: 0;
  }

  #footer div.menu-name-menu-footer ul li a {
    padding: 0 12px;
    border-right: 1px solid #555;
    border-color: rgba(255, 255, 255, 0.15);
  }

  #footer div.menu-name-menu-footer ul li.last a {
    border: none;
  }
}

/* TABLET */
@media all and (min-width: 560px) and (max-width: 850px) {
  div.view-home .views-row {
    width: 100%;
    float: left;
  }

  /* STICKY */
  #footer-wrapper {
    position: relative;
    margin-top: -112px; /* negative value of footer height */
    height: 112px;
    clear:both;
  }

  #page-wrapper #page {
    padding-bottom: 112px;
  }

  /* Footer Copyright */
  #footer #block-menu-block-1,
  #footer #block-block-1 {
    width: 100%;
    clear: both;
    padding: 5px;
    text-align: center;
  }

  #footer-wrapper div.section div.content p {
    padding: 5px;
    margin: 0;
  }

  #footer div.menu-name-menu-footer {
    margin: 0;
  }
}

/* SCREEN */
@media all and (min-width: 851px) {
  /* STICKY */
  #footer-wrapper {
    position: relative;
    margin-top: -108px; /* negative value of footer height */
    height: 105px;
    clear:both;
  }

  #page-wrapper #page {
    padding-bottom: 108px;
  }
}