#header {
  background: #FFF;
  padding-top: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 99;
}

body.navbar-administration #header {
  position: relative;
}

/*
 * LANGUAGE
 */
#block-locale-language ul.language-switcher-locale-url li a {
  color: #000;
}

#block-locale-language ul.language-switcher-locale-url li.active a {
  color: #0071B3;
}

#block-locale-language ul.language-switcher-locale-url li a {
  font-size: 15px;
  font-family: "mission gothic base 2";
  /*font-family: "Open Sans";*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
  color: #272727;
}

#block-locale-language ul.language-switcher-locale-url li.active a {
  color: #09a077;
}

#main-menu {
  float: left;
  width: 100%;
  border-top: 1px solid #e8e4e4;
  overflow: hidden;
  position: relative;
}

#main-menu #main-menu-links {
  margin: 0 5px;
  padding: 0;
  text-align: center;
}

#main-menu #main-menu-links li.last a {
  border-right: none;
}

#main-menu #main-menu-links li.active a {
  color: #b7b7b7;
}

/*
* LOGO
*/
#logo {
  display: block;
  float: none;
  padding: 0;
}

#logo img {
  display: block;
  margin: 0 auto;
}

/*
 * MENU
 */
#main-menu #main-menu-links li {
  float: left;
}

@media all and (min-width: 560px) {
  /* LANGUAGE */
  #block-locale-language {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  /* MENU */
  #main-menu #main-menu-links li {
    width: auto;
    display: inline-block;
    float: none;
    margin-right: 5px;
    padding: 0;
  }

  #main-menu #main-menu-links li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: "mission gothic base 2";
    /*font-family: "Open Sans";*/
      /*font-style: normal;*/
      font-weight: 400;
    text-transform: uppercase;
    border-right: 1px solid #e8e4e4;
    border-radius: 0;
    padding: 0 1.7em;
    margin: 1.1em 0;
    float: none;
  }
}

@media all and (min-width: 851px) {


}

@media all and (max-width: 850px) and (min-width: 561px){
    #main-menu #main-menu-links li a {
        padding: 0 1.4em;
    }
}

@media all and (max-width: 560px) {
    #main-menu #main-menu-links li a {
        text-decoration: none;
        font-size: 18px;
        font-family: "mission gothic base 2";
        font-weight: 400;
        text-transform: uppercase;
    }
    a#menu-toggle {
        display:block;
    }

    #main-menu-links {
        display: none;
        height: auto;
    }

    #main-menu-links li {
        width: 100%;
    }

}
