#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer, #footer-wrapper div.section {
  width: 100%;
  max-width: 100%;
}

body.page-home #content .section,
body.page-node #block-system-main .content .about-us .node-about-us,
#main-wrapper #main #content .region #block-alphacredit-general-alphacredit-timeline,
#main-wrapper #main #content .region .view-home.view-display-id-block {
  max-width: 1180px;
  margin: 0 auto;
  float: none;
  display: block;
  overflow: hidden;
}