html {
  height: 100%;
}

body {
  font-family: "Mission Gothic Base 2";
  /*font-family: "Open Sans";*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
  font-size: 15px;
  background-color: #FFF;
  color: #272727;
  height: 100%;
  padding: 0 !important;
}

body.navbar-administration #page-wrapper #page {
  padding-top: 70px;
}

#page-wrapper, #footer-wrapper {
  background: #FFF;
}

#name-and-slogan {
  display: none;
}

#page .region-header {
  margin: 0;
}